$grid-columns:      12;




#home {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.post {
	margin-right: auto;
	margin-left: auto;
}
@media only screen and(max-width:700px ) {
	#home {
		display: grid;
		grid-template-columns: 1fr;
	}
	.post {
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and(min-width: 701px) and(max-width:1200px) {
	#home {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.post {
		height: 600px;
	}
	input {
		width: 60%;
	}
}